body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

/* nav section */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  /* background: transparent; */
  z-index: 1000;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-left .logo {
  width: 70px;
  aspect-ratio: 1;
  cursor: pointer;
}

.nav-right {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.nav-right-page {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-right-page li {
  margin: 0;
}

.nav-right-page a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-right-page a:hover {
  color: #bdec2f;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #bdec2f;
  border: none;
  padding: 12px 24px;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn:hover {
  background-color: #d0ec7e;
}

.btn:focus {
  outline: 2px solid #000;
}

/* products section */
.product {
  margin-top: 100px;
  padding: 50px 150px;
}

.product h1 {
  font-size: 48px;
  font-weight: 700;
}

.product .product-items {
  margin-bottom: 100px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.product .product-items .item {
  width: 350px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 22px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}

.product .product-items .item img {
  width: 350px;
  height: 400px;
}

.product .product-items .product-desc {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border-top: 1px solid #666;
}

.item:hover {
  scale: 1.02;
}

.product-desc p {
  font-size: 14px;
  letter-spacing: 1px;
}

.product-desc p b {
  font-size: 24px;
  cursor: pointer;
}

.product-desc p s {
  color: #5a5a5a;
  font-size: 16px;
}

.product-desc p span {
  margin-left: 8px;
  font-size: 20px;
}

.product h2 {
  font-size: 48px;
  font-weight: 700;
}

.product .product-all {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.product-others {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 28px;
}

.product1,
.product2,
.product3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  position: relative;
  object-fit: cover;
  background-position: center;
  cursor: pointer;
}

.product-text1 {
  position: absolute;
  font-size: 50px;
  width: 522px;
  height: 730px;
  color: #fff;
  font-weight: 900;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-text2 {
  position: absolute;
  font-size: 50px;
  width: 522px;
  height: 340px;
  color: #fff;
  font-weight: 900;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product1:hover .product-text1 {
  opacity: 1;
}

.product2:hover .product-text2 {
  opacity: 1;
}

.product3:hover .product-text2 {
  opacity: 1;
}

.addToCartBtn {
  border-radius: 6px;
  margin: 15px auto;
  padding: 8px 15px;
  background-color: #2a2c30;
  color: #fff;
  font-size: 20px;

  &:hover {
    background-color: #f7f7f7;
    color: #2a2c30;
    cursor: pointer;
  }
}

/* footer section */

.footer-distributed {
  padding: 50px 150px;
  background: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  border-top: 1px solid #666;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed img {
  width: 80px;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-links .link:hover {
  color: #d0ec7e;
}

.footer-links .link-1:hover {
  color: #d0ec7e;
}

.footer-distributed .footer-company-name {
  color: #f6f6f6;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
  line-height: 40px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer-distributed .footer-icons img {
  width: 50px;
}
